modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[userenv]

[userenv.shared]
FLUXER_GUILD_ID = "1511864893052030977"
WELCOME_CHANNEL_ID = "1512065988684685312"
INVITE_LOG_CHANNEL_ID = "1512065988684685312"
TICKET_CATEGORY_ID = "1512080693360857088"
AUTO_ROLE_ID = "1512069454157058050"
